@charset "utf-8";
/* CSS Document */

.image-annotate-canvas {
    border: solid 1px #ccc;
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    position: relative;
}
.image-annotate-view {
    display: none;
    position: relative;
}
.image-annotate-area {
    border: 1px solid #000000;
    position: absolute;
}
.image-annotate-area div {
    border: 1px solid #FFFFFF;
    display: block;
}
.image-annotate-area-hover div {
    border-color: #707070 !important;
}
.image-annotate-note {
    background: #E7FFE7 none repeat scroll 0 0;
    border: solid 1px #397F39;
    color: #000;
    display: none;
    font-family: Verdana, Sans-Serif;
    font-size: 12px;
    max-width: 200px;
    padding: 3px 7px;
    position: absolute;
}
